            body {
                background: #fff;
                width: 100%;
                margin: 0;
            }
            
            ol {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 18px;
                height: 2em;
                line-height: 2em;
                width: 150px;
                display: block;
            }
            
            ol>li {
                float: left;
                width: 150px;
            }
            
            ol a {
                display: block;
                color: #292F36;
                text-decoration: none;
                padding: 10 5px;
                border-bottom: #fff double 10px;
            }
            
            ol>li>ul {
                text-align: center;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background: #FFE66D;
                display: none;
                margin-right: 20px;
                border: #fff double 10px;
                border-top: none;
            }
            
            ol>li:hover>ul {
                display: block;
            }
            
            ol>li>ul>li>a:hover {
                background: #DB2B39;
                color: white;
            }
            
            .fill {
                height: 500px;
            }
            
            .mainHeader {
                width: 100%;
                min-width: 700px;
                height: 60px;
                background: #292F37;
                color: white;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .mainMenu {
                display: block;
                float: left;
                color: white;
                width: 150px;
            }
            
            .headerLogo {
                height: 40px;
                padding: 10px;
                padding-bottom: 0;
            }
            
            .mainTitle {
                float: left;
                text-align: center;
                height: 100%;
            }
            
            .title {
                margin-top: 9px;
            }
            
            .login {
                float: right;
                width: 150px;
                text-align: center;
                margin-top: 20px;
            }
            
            main {
                /*background: #dadada;*/
                color: #292F36;
                text-align: justify;
                line-height: 1.5em;
                max-width: 1000px;
                padding: 20px;
                margin: 20px auto;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .inboxImage {
                height: 250px;
                float: right;
            }